@import '_vars';

.login{
    width: 100%;
    height: calc( 100vh - 100px);
    display: grid;
    place-items: center;
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.logo{ /*desktop*/
    width: 150px;
    margin-bottom: 40px;
    justify-self: center;
    display: none;
}
.title{
    font-size: $--lg;
    margin-bottom: 12px;
    text-align: center;
}
.subtitle{
    color: $--very-light-pink;
    font-size: $--md;
    font-weight: 300px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.label{
    font-size: $--sm;
    font-weight: bold;
    margin-bottom: 8px;
}
.input{
    background-color: $--text-input-field;
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: $--md;  
    padding: 8px;    
    margin-bottom: 16px;  
}

.primary-button {

    background-color: $--hospital-green;
    border-radius: 8px; 
    border: none;
    color: $--white;
    height: 60px;
    width: 100%;
    cursor: pointer;
    font-size: $--md;
    font-weight: bold;
}
.login-button{
    margin-top: 8px;
    margin-bottom: 16px;
}

@media (max-width: 640px) {
    .logo{
        display: block;
    }
    
}