@import '_vars';
.send-email{
    width: 100%;
    height: calc( 100vh - 100px) ;
    display: grid;
    place-items: center;
}
.container-email{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;

}
.logo{ /*desktop*/
    width: 150px;
    margin-bottom: 40px;
    justify-self: center;
    display: none;
}
.title{
    font-size: $--lg;
    margin-bottom: 12px;
    margin-top: 12px;
    text-align: center;
}
.subtitle{
    color: $--very-light-pink;
    font-size: $--md;
    font-weight: 300px;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.container-logo-email{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $--text-input-field;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.container-logo-email img{
    width: 80px;
}

.resend{
   font-size: $--sm; 
}

.resend span{
    color: $--very-light-pink;
}

.resend a{
    color: $--hospital-green;
    text-decoration: none;
}


.primary-button {

    background-color: $--hospital-green;
    border-radius: 8px; 
    border: none;
    color: $--white;
    height: 60px;
    width: 100%;
    cursor: pointer;
    font-size: $--md;
    font-weight: bold;
}
.login-button{
    margin-top: 8px;
    margin-bottom: 16px;
}

@media (max-width: 640px) {
    .logo{
        display: block;
    }
}